body {
  display: grid;
  grid-template-columns: 10vw 80vw 10vw;
  grid-template-areas: ". wrapper .";
  margin: 0;
}

.wrapper {
  grid-area: wrapper;
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
}

header {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 30vw;
}

main {
  display: grid;
  grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
  grid-template-rows: calc(100%/3) calc(100%/3) calc(100%/3);
  grid-template-areas: ". . ." ". clock ." ". . .";
}
.clock {
  grid-area: clock;
  font-size: 5em;
  text-align: center;
}
